.pretty_font{
    font-family: 'Comic Neue', cursive;
    font-size: 1.5em;
    margin-bottom: 10px;
}

html,body{
    font-family: 'Comic Neue', cursive;
    font-size: 1.0em;
    margin-bottom: 10px;
}

.big_brand{
    font-size: 1.5em;
}

.center_stage{
    margin-left: auto;
    margin-right: auto;
}

.post_date{
  text-align: left;
}

.post_title {
  font-family: 'Comic Neue', cursive;
  font-size: 3em;
  text-align: center;
}

.comment_title {
  font-family: 'Comic Neue', cursive;
  font-size: 2em;
  text-align: left;
}

.post_content{
  font-family: 'Montserrat';
  font-size: 1.5em;
}

.btn_comment{
  position: absolute;
  right: 0px;
}