<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    {# Bootstrap csc & js#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    {# Medium Style Editor #}
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
          type="text/css" media="screen" charset="utf-8">
    {#  Custom Css  #}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    {#  Fonts  #}
    <link href="https://fonts.googleapis.com/css?family=Comic+Neue&display=swap" rel="stylesheet">
</head>

<body>
{# navbar #}
<nav class="nav navbar-default pretty_font custom-navbar">
    {#<nav class="navbar navbar-default navbar-static-top">#}
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand big_brand" href="{% url 'post_list' %}">My Blog</a></li>
            <li><a href="{% url 'post_list' %}">My Post</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="light-blue dropdown-modal">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <span class="user-info">
                        Welcome: {{ user.username }}
                    </span>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li><a href="{% url 'post_new' %}">New Post</a></li>
                    <li><a href="{% url 'post_draft_list' %}">Drafts</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
            {% else %}
                <li><a class="nav navbar-right" href="{% url 'login' %}"><span
                        class="glyphicon glyphicon-user"></span> Login </a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>
{# body_block #}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog_posts">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>